.cover
    img
        max-height: 300px !important
        width: 100%
.profile-pic
    img
        width: 150px
        height: 150px

.container.position-relative
    bottom: 4em
    img
        width: 150px
        height: 150px

