// Start tags
.tags-container
    right: 20px
    top: 80px
    .tags
        max-height: 300px
        overflow-y: scroll

// start posts
.posts
    margin-right: 25.333333%
    margin-top: 20px
    
    .editable
        border: 1px solid #000
        border-bottom: 0
        padding: 10px
        
    .post
        &-header
            *
                user-select: none
            img
                height: 50px !important
                width: 50px !important
        
@media (max-width: 575px)
    .posts
        margin: 0 !important

@media (min-width: 576px) and (max-width: 992px)
    .posts
        margin-right: 45.333333% !important
        margin-top: 20px !important


// start dashbaord
.dashbaord
    top: 80px !important
    overflow-y: scroll
    max-height: 100vh

    // Start Group rank
    .groups-rank
        max-height: 300px
        overflow-y: scroll
        .group
            max-height: 200px
            overflow-y: scroll
            &-header
                img
                    height: 50px !important
                    width: 50px !important
    .profile-wedgate
        .profile
            &-header
                img
                    height: 50px !important
                    width: 50px !important

@media (max-width: 1025px)
    .dashbaord
        left: 0px !important

@media (min-width: 1026px)
    .dashbaord
        left: 10px !important

    