.actions.mt-2
    button.btn.badge.badge-dark.like <i class="fas fa-heart ml-1"></i> <span>120</span>
    button.btn.badge.badge-dark.comment <i class="fas fa-comment ml-1"></i> <span>120</span>
    button.btn.badge.badge-dark.dislike <i class="far fa-thumbs-down"></i> <span>120</span>
    button.btn.badge.badge-dark.share <i class="fas fa-share-alt"></i> <span>120</span>