.posts.col-xs-12.col-md-6.bg-light.shadow-sm.p-2
    #content.form-group
        label(for="exampleFormControlTextarea1") شارك العالم بأفكارك
        form(method="post")
            textarea#summernote(name="editordata")

