.dashbaord.col-md-3.d-none.d-md-block.bg-white.shadow-sm.p-3.position-fixed.dashbaord
    .groups-rank.mb-2.bg-light.rounded.p-3
        .group
            .group-header
                include ./group/groups-dropdown.pug 
                img.rounded-circle.img-fluid(src="https://placeimg.com/640/480/any" width="75")
                h6.d-inline.my-auto الجروب العظيم
            .group-content.py-3  
                p.pb-3 نحن جروب رائع متخصص في تطوير واجهات الويب 
                include ./group/groups-actions.pug

            
                