.dashbaord.col-lg-4.d-none.d-lg-block.bg-white.shadow-sm.p-3.position-fixed.dashbaord
    h3 مختارات المجموعات
    .groups-rank.mb-2.rounded.p-3.bg-white
        - for (let i = 0; i < 5; ++i) {
            .group.mb-3.bg-light.p-3
                .group-header
                    include ./group/groups-dropdown.pug 
                    img.rounded-circle.img-fluid(src="https://placeimg.com/640/480/any" width="75")
                    h6.d-inline.my-auto الجروب العظيم
                .group-content.py-3  
                    p.pb-3 نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب 
                    include ./group/groups-actions.pug
        -}
                