.dashbaord.col-lg-4.d-none.d-lg-block.p-3.position-fixed.dashbaord
    .groups-rank.mb-2.rounded.p-3.bg-light.bg-white.shadow-sm
        h3 مختارات المجموعات
        - for (let i = 0; i < 5; ++i) {
            .group.my-3.bg-light.p-3
                .group-header
                    include ./group/groups-dropdown.pug 
                    img.rounded-circle.img-fluid(src="https://placeimg.com/640/480/any" width="75")
                    h6.d-inline.my-auto الجروب العظيم
                .group-content.py-3  
                    p.pb-3 نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب نحن جروب رائع متخصص في تطوير واجهات الويب 
                    include ./group/groups-actions.pug
        -}
    
    .profile-wedgate.my-2.rounded.p-3.bg-light.bg-white.shadow-sm
        h3 حسابك
        .profile.mb-3.bg-light.p-3
            .profile-header.text-center
                img.rounded-circle.img-fluid(src="https://placeimg.com/640/480/any" width="75")
                h6.text-center.my-2 محمد أيمن
            .profile-content.py-3
                
                 