.tags-container.position-fixed.col-sm-3.d-none.d-md-block.bg-white.shadow-sm.p-3.bg-white
    - for (var i = 0; i < 2; ++i) {
        .tags.border.border-dark.rounded.mb-2.p-2
            h5.mb-2 #هاشتاج_لذيذ
            - for (var s = 0; s < 3; ++s) {
                .p-3.mb-2.bg-light.rounded
                    p هذا البوست جميل للغاية مقال رائع منشور جميل 
                    include ./posts/actions.pug
            - }
    - }