.info.shadow.rounded-4.mx-2.p-3
    .container
        ul.list-unstyled.text-center.p-0.m-0
            li.mb-2.mx-1.d-sm-inline-block
                i.fas.fa-user-circle.ml-2
                span 120 متابع    
            li.mb-2.mx-1.d-sm-inline-block
                i.fas.fa-star.ml-2
                span 120 تقييم    
            li.mb-2.mx-1.d-sm-inline-block
                i.fas.fa-copy.ml-2
                span 120 مقال    
            li.mb-2.mx-1.d-sm-inline-block
                i.fas.fa-play.ml-2
                span 120 فيديو
