.col-md-5
    .friends.shadow-sm.bg-white.p-3
        h3.mb-2 الأصدقاء
        - for(let i = 0; i < 5; ++i){
            a(href="#")
                .friend.d-inline-block.mb-1
                    img.img-fluid(src="https://placeimg.com/150/150/people" alt="mohammed")
                    p عدنان ابو زياد
        -}

