.col-md-5.bg-white.shadow-sm 
    h3 الأصدقاء
    .friends.mt-1
        - for(let i = 0; i < 5; ++i){
            a(href="#")
                .friend.d-inline-block.mb-1
                    img.img-fluid(src="https://placeimg.com/150/150/people" alt="mohammed")
                    p عدنان ابو زياد
        -}

