.container
    .cover
        img.img-fluid(src="https://placeimg.com/640/300/tech" width="100%")
    .container.position-relative
        .profile-pic
            img.img-thumbnail.rounded-circle.rounded.mx-auto.d-block(src="https://placeimg.com/150/150/people")