.cover
    img.img-fluid(src="https://placeimg.com/640/300/tech" width="100%")
.position-relative
    .container.position-absolute
        .profile-pic.text-center
            img.img-thumbnail.rounded-circle.rounded(src="https://placeimg.com/150/150/people")
            p.text-center محمد أيمن
            .btns.pt-2.text-center
                button.btn.btn-dark.d-inline-block(data-toggle="tooltip" data-placement="top" title="أضف صديقاً")
                    i.fas.fa-user-plus  
                button.btn.btn-dark.d-inline-block(data-toggle="tooltip" data-placement="top" title="قيّمه")
                    i.fas.fa-star
                button.btn.btn-dark.d-inline-block(data-toggle="tooltip" data-placement="top" title="شاهد المعرض")
                    i.fas.fa-photo-video 