
<div class="dropdown float-left">
  <button class="btn fas fa-ellipsis-h" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
  <div class="dropdown-menu animated flipInX faster mt-4" aria-labelledby="dropdown">
    <button class="dropdown-item text-right" type="button">أحظر كاتب المقال</button>
    <button class="dropdown-item text-right" type="button">حفظ </button>
    <button class="dropdown-item text-right" type="button">تابع كاتب المقال</button>
  </div>
</div>