
<div class="tags-container position-fixed col-sm-3 d-none d-sm-block bg-white shadow-sm p-3 bg-white">
  <div class="tags border border-dark rounded mb-2 p-2">
    <h5 class="mb-2">#هاشتاج_لذيذ</h5>
    <div class="p-3 mb-2 bg-light rounded">
      <p>هذا البوست جميل للغاية مقال رائع منشور جميل </p>
      <div class="actions mt-2">
        <button class="btn badge badge-dark like"><i class="fas fa-heart ml-1"></i> <span>120</span></button>
        <button class="btn badge badge-dark comment"><i class="fas fa-comment ml-1"></i> <span>120</span></button>
        <button class="btn badge badge-dark dislike" data-toggle="tooltip" data-placement="bottom" title="منشور ضار "> <i class="far fa-thumbs-down"></i> <span>120</span></button>
        <button class="btn badge badge-dark share"><i class="fas fa-share-alt"></i> <span>120</span></button>
      </div>
    </div>
    <div class="p-3 mb-2 bg-light rounded">
      <p>هذا البوست جميل للغاية مقال رائع منشور جميل </p>
      <div class="actions mt-2">
        <button class="btn badge badge-dark like"><i class="fas fa-heart ml-1"></i> <span>120</span></button>
        <button class="btn badge badge-dark comment"><i class="fas fa-comment ml-1"></i> <span>120</span></button>
        <button class="btn badge badge-dark dislike" data-toggle="tooltip" data-placement="bottom" title="منشور ضار "> <i class="far fa-thumbs-down"></i> <span>120</span></button>
        <button class="btn badge badge-dark share"><i class="fas fa-share-alt"></i> <span>120</span></button>
      </div>
    </div>
    <div class="p-3 mb-2 bg-light rounded">
      <p>هذا البوست جميل للغاية مقال رائع منشور جميل </p>
      <div class="actions mt-2">
        <button class="btn badge badge-dark like"><i class="fas fa-heart ml-1"></i> <span>120</span></button>
        <button class="btn badge badge-dark comment"><i class="fas fa-comment ml-1"></i> <span>120</span></button>
        <button class="btn badge badge-dark dislike" data-toggle="tooltip" data-placement="bottom" title="منشور ضار "> <i class="far fa-thumbs-down"></i> <span>120</span></button>
        <button class="btn badge badge-dark share"><i class="fas fa-share-alt"></i> <span>120</span></button>
      </div>
    </div>
  </div>
  <div class="tags border border-dark rounded mb-2 p-2">
    <h5 class="mb-2">#هاشتاج_لذيذ</h5>
    <div class="p-3 mb-2 bg-light rounded">
      <p>هذا البوست جميل للغاية مقال رائع منشور جميل </p>
      <div class="actions mt-2">
        <button class="btn badge badge-dark like"><i class="fas fa-heart ml-1"></i> <span>120</span></button>
        <button class="btn badge badge-dark comment"><i class="fas fa-comment ml-1"></i> <span>120</span></button>
        <button class="btn badge badge-dark dislike" data-toggle="tooltip" data-placement="bottom" title="منشور ضار "> <i class="far fa-thumbs-down"></i> <span>120</span></button>
        <button class="btn badge badge-dark share"><i class="fas fa-share-alt"></i> <span>120</span></button>
      </div>
    </div>
    <div class="p-3 mb-2 bg-light rounded">
      <p>هذا البوست جميل للغاية مقال رائع منشور جميل </p>
      <div class="actions mt-2">
        <button class="btn badge badge-dark like"><i class="fas fa-heart ml-1"></i> <span>120</span></button>
        <button class="btn badge badge-dark comment"><i class="fas fa-comment ml-1"></i> <span>120</span></button>
        <button class="btn badge badge-dark dislike" data-toggle="tooltip" data-placement="bottom" title="منشور ضار "> <i class="far fa-thumbs-down"></i> <span>120</span></button>
        <button class="btn badge badge-dark share"><i class="fas fa-share-alt"></i> <span>120</span></button>
      </div>
    </div>
    <div class="p-3 mb-2 bg-light rounded">
      <p>هذا البوست جميل للغاية مقال رائع منشور جميل </p>
      <div class="actions mt-2">
        <button class="btn badge badge-dark like"><i class="fas fa-heart ml-1"></i> <span>120</span></button>
        <button class="btn badge badge-dark comment"><i class="fas fa-comment ml-1"></i> <span>120</span></button>
        <button class="btn badge badge-dark dislike" data-toggle="tooltip" data-placement="bottom" title="منشور ضار "> <i class="far fa-thumbs-down"></i> <span>120</span></button>
        <button class="btn badge badge-dark share"><i class="fas fa-share-alt"></i> <span>120</span></button>
      </div>
    </div>
  </div>
</div>