.dropdown.float-left
    button.btn.fas.fa-ellipsis-h(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
    .dropdown-menu(aria-labelledby="dropdown").animated.pulse.faster.mt-4
        button.dropdown-item.text-right(type="button") أحظر كاتب المقال
        button.dropdown-item.text-right(type="button") حفظ 
        button.dropdown-item.text-right(type="button") تابع كاتب المقال
