.actions.mt-2
    button.btn.badge.badge-dark.like(data-toggle="tooltip" data-placement="bottom" title="منشور مفيد")  <i class="fas fa-arrow-up"></i> <span>120</span>
    button.btn.badge.badge-dark.dislike(data-toggle="tooltip" data-placement="bottom" title="منشور غير مفيد") <i class="fas fa-arrow-down"></i> <span>120</span>

