#img-modal.modal.fade.bd-example-modal-xl(tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true")
        .modal-dialog.modal-xl  
            .modal-content.bg-transparent.border-0
                .modal-header.border-0
                    button.btn.btn-light.float-left(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") ×
                .modal-body.bg-transparent
                    img.img-fluid.d-block.m-auto(width="500" src="https://placeimg.com/320/320/any", alt="me")
        