.toast(role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000")
    .toast-header
        button.ml-2.mb-1.close(type="button" data-dismiss="toast" aria-label="Close" )
            span(aria-hidden="true") ×
        small 15 ثانية 
    .toast-body
        | لقد قمت بمشاركة المنشور على صفحتك.